* {
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #d2d2d2;
}

.container {
  margin-top: 5rem;

}
.list-group {
  list-style: none;
  text-align: left;
  margin-top: 2rem;
}


.list-group li {
  padding: .5rem;
  margin: 1rem;
  background-color: #fff;
  border-radius: 0.375rem;

}

.highlight {
  background-color: #ff0;
}